@import url(http://fonts.googleapis.com/css?family=Raleway);

#accordionMenu1 {
    margin: 0 auto;
    width: 300px;
}

.acc-menu {
    position: relative;
    list-style: none;
    border: 4px solid #eee;
}

.acc-menu >li {
    overflow: hidden;
    border: 1px solid #000;
    cursor: pointer;
}

.acc-menu li .main-title {
    background-color: #fff;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    z-index: 100;
}

.acc-menu li .main-title a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.acc-menu li .main-title .folder {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    text-indent: -100px;
    background-image: url("http://cfile3.uf.tistory.com/image/24185E335762538E2AE110");
    /* 기본은 .close */
    background-position: 0 -40px;
}

.acc-menu li .main-title .folder.empty {
    background-position: 0 0;
}

.acc-menu li .main-title .folder.open {
    background-position: 0 -20px;
}

.acc-menu li .main-title .folder.close {
    background-position: 0 -40px;
}

.acc-menu li ul.sub {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 20px;
    z-index: 90;
    position: relative;
}

.acc-menu li ul.sub.open {
    display: block;
}

.acc-menu li ul.sub.hide {
    display: none;
}

.acc-menu li ul.sub li {
    height: 20px;
    padding: 10px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.acc-menu li ul.sub li.select {
    background-color: #bddeea;
}